
:root{

--green: hsl(75, 94%, 57%);

--white: hsl(0, 0%, 100%);

--greyA: hsl(0, 0%, 20%);

--greyB: hsl(0, 0%, 12%);

--greyC: hsl(0, 0%, 8%);

}

*,

*::after

*::before{

  margin: 0;

  padding: 0;

  list-style: none;

  box-sizing: border-box;

}

html,body{

  height: 100%;

}

body{

  background-color: var(--greyC);
  
